
.tableBody {
    overflow: hidden;
    background-color: rgba(232, 209, 195, 0.74);
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-areas:
            "timeTempBlock comfortBlock precipitationsBlock";
    white-space: nowrap;
    overflow-x: scroll;
}


ul li:nth-child(1) {
    font-weight: bold;
}

.tableBody div:nth-child(1) {
    margin-left: 0.3em;
}

.tableBody li:nth-last-child(1) {
    margin-bottom: 1em;
}

li:nth-child(even) {
    background-color: #f2f2f2;
}

.timeTempBlock {
    grid-area: timeTempBlock;
    display: grid;
    grid-template-areas:
    "time temp"
}

.timeTempBlockHeader {
    grid-area: timeTempBlockHeader;
    text-align: center;
}

.timeTempBlockTime {
    grid-area: time;
}

.timeTempBlockTemperature {
    grid-area: temp;
    text-align: center;
}

.comfortBlock {
    grid-area: comfortBlock;
    display: grid;
    grid-template-areas:
    "apparent windspeed humidity"
}

.comfortBlockHeader {
    grid-area: comfortBlockHeader;
    text-align: center;
}

.apparent {
    grid-area: apparent;
    text-align: center;
}

.windspeed {
    grid-area: windspeed;
    text-align: center;
}

.humidity {
    grid-area: humidity;
    text-align: center;
}

.precipitationsBlock {
    grid-area: precipitationsBlock;
    display: grid;
    grid-template-areas:
    "precipitationsProbability precipitationsAmount "
}

.precipitationsAmount {
    grid-area: precipitationsAmount;
    text-align: center;
}

.precipitationsProbability {
    grid-area: precipitationsProbability;
    text-align: center;
}

/* Header of Daily Weather*/

.dailyHeader {
    display: flex;
    height: 4.5em;
    margin-left: 0.3em;
}

.weatherImage img {
    height: 4em;
    width: 100%;
    margin-top: -0.5em;
}

.weatherImage {
    height: 100px;
    overflow: hidden;
}


@media screen and (max-width: 580px) {
    .tableBody {
        overflow-x: scroll;
    }
}


