* {
  padding: 0px;
  margin: 0px;
  border: none;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body{
  font-size: 100%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

