
.table {
display: grid;
    grid-template-areas: "time temp apparent rain showers snow ";


}

.time {
    grid-area: time;

}

.temperature {
    grid-area: temp;

}

.rain {
    grid-area: rain;
}

.apparent {
    grid-area: apparent;
}

.snow {
    grid-area: snow;
}

.showers {
    grid-area: showers;
}