
.tableBody {
    overflow: hidden;
    background-color: rgba(204,190,170,0.74);
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    /*grid-template-rows: 200px 1fr;*/
    grid-template-areas:
            "timeTempBlock comfortBlock precipitationsBlock";
    white-space: nowrap;
    overflow-x: scroll;
}


li:nth-child(odd) {
    background-color: #f2f2f2;
}

.timeTempBlock{


    grid-area: timeTempBlock;
    display: grid;
    grid-template-areas:
    "time temp"
}


.timeTempBlockHeader{
    grid-area: timeTempBlockHeader;
    text-align: center;

}

.timeTempBlockTime{
grid-area: time;


}

.timeTempBlockTemperature{
grid-area: temp;
    text-align: center;

}

.comfortBlock{

    grid-area: comfortBlock;
    display: grid;
    grid-template-areas:
    "apparent windspeed humidity"
}

.comfortBlockHeader{
grid-area: comfortBlockHeader;
    text-align: center;

}

.apparent{
    grid-area: apparent;
    text-align: center;
}

.windspeed{
    grid-area: windspeed;
    text-align: center;
}

.humidity{
    grid-area: humidity;
    text-align: center;

}

.precipitationsBlock {

    grid-area: precipitationsBlock;
    display: grid;
    grid-template-areas:
    "precipitationsProbability precipitationsAmount "
}

.precipitationsAmount {
    grid-area: precipitationsAmount;
    text-align: center;

}

.precipitationsProbability {
    grid-area: precipitationsProbability;
    text-align: center;
}


@media screen and (max-width: 580px) {
    .tableBody {
        overflow-x: scroll;
    }
}


